<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90e879">  <td>20/07/12 22:29:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;studycase.afterMethod()[pri:0, instance:trendyol.test.studycase@71687585]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1201454821</td>   <td></td> </tr>
<tr bgcolor="90e879">  <td>20/07/12 22:28:49</td>   <td>-18586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;studycase.beforeMethod()[pri:0, instance:trendyol.test.studycase@71687585]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1201454821</td>   <td></td> </tr>
<tr bgcolor="90e879">  <td>20/07/12 22:29:03</td>   <td>-4507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="studycase.studycase1()[pri:0, instance:trendyol.test.studycase@71687585]">studycase1</td> 
  <td>main@1201454821</td>   <td></td> </tr>
</table>
